<div class="row">
  <div class="span6 offset2">
    <div class="boxes">
      <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, :class => "form-horizontal"}) do |f| %>
      <%= devise_error_messages! %>
      <fieldset>
        <legend>Resend confirmation instructions</legend>
        <div class="control-group">
          <%= f.label :email %>
          <div class="controls"><%= f.email_field :email %></div>
        </div>

        <div class="form-actions">
          <%= f.submit "Resend confirmation instructions", :class => "btn-success" %>
        </div>
        <%= render :partial => "devise/shared/links" %>
      </fieldset>
      <% end %>
    </div>
  </div>
</div>
