<div class="row">
  <div class="span8">
    <legend><%= @assessment.name %></legend>
    <%= @assessment.description %>
    <hr />
    <%= @assessment.prompt %>
    <% if current_user == @user %>
      <%= link_to "Edit", edit_user_assessment_path(@user, @assessment) %>
    <% end %>
  </div>
  <%= render 'shared/side_bar' %>