<h1>Welcome Back <%= current_user.name %>! </h1>

<div class="row">
  <div class="span10">
    <%= render 'shared/stats' %>
    <legend><%= link_to "Your Courses", user_courses_path(current_user) %></legend>

    <% unless current_user.courses.blank? %>
      <%= render 'shared/courses' %>
    <% end %>
    <%= link_to "Create Course", new_user_course_path(current_user) %>

    <legend><%= link_to "Unit Gallery", user_units_path(current_user) %></legend>

    <% unless current_user.units.blank? %>
      <%= render 'shared/units' %>
    <% end %>
    <%= link_to "Create Unit", new_user_unit_path(current_user) %>
  </div>
</div>
