<div class="row">
  <div class="span6 offset2">
    <div class="boxes">
      <%= form_for resource, :as => resource_name, 
                             :url => session_path(resource_name), 
                             :html => {:class => "form-horizontal"} do |f| %>
        <fieldset>
          <legend>Therapist Sign In</legend>
          <div class="control-group">
            <%= f.label :email %>
            <div class="controls"><%= f.email_field :email %></div>
          </div>
          <div class="control-group">
            <%= f.label :password %>
            <div class="controls"><%= f.password_field :password %></div>
          </div>
          <% if devise_mapping.rememberable? -%>
            <div class="control-group">
              <label></label>
              <div class"controls">
                <%= f.label :remember_me, "Remember Me", :class => "checkbox inline" %>
                <%= f.check_box :remember_me %>
              </div>
            </div>
          <% end %>
          <%= render :partial => "devise/shared/links" %>
          <div class="form-actions">
          <%= f.submit "         Sign In         ", :class => "btn-success" %>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>
