<% unless current_user.nil? %>
<% args = (@commentable == @user)? [@commentable, @comment] : [@user, @commentable, @comment] %>
  <%= semantic_form_for(args) do |f| %>
    <% if @comment.errors.any? %>
      <div class="alert alert-error">
        <h2>Please correct the following errors.</h2>
        <ul>
          <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="control-group">
      <%= f.label :subject %>
      <div class="controls"><%= f.text_field :subject %></div>
    </div>
    <div class="control-group">
      <%= f.label :body %>
      <div class="controls"><%= f.text_area :body, rows: 8 %></div>
    </div>
    <div class="form-actions">
      <%= f.submit "Submit", :class => "btn-success" %>
    </div>
  <% end %>
<% end %>