<div class="row">
  <div class="span8">
    <section>
      <legend>About</legend>
      <%= @user.description %>
    </section>
    <% if @units.any? %>
      <section>
        <legend>My Units</legend>
        <%= render 'shared/units' %>
        <%= will_paginate @units %>
      </section>
    <% end %>
  </div>
  <aside class="span3">
    <%= render 'shared/stats' %>
    <%= render 'follow_form' if signed_in? %>
  </aside>
</div>
<div class="row">
  <div class="span6">
    <section>
      <legend>Comments</legend>
      <%= render "comments/comments" %>
      <%= render "comments/form" %>
    </section>
  </div>
</div>
