<div class="row boxes" id="profile">
  <div class="span8">
    <h1><%= @user.name %></h1>
    <strong>School:</strong> <%= @user.school %><br />
    <strong>Location:</strong> <%= @user.location %>
    <%= render 'follow_form' if signed_in? %>
  </div>
</div>
<div class="row">
  <fieldset>
    <legend>About Me</legend>
    <p><%= @user.description %></p>
  </fieldset>
</div>
<div class="row">
  <fieldset>
    <legend>Comments</legend>
    <%= render "comments/comments" %>
    <%= render "comments/form" %>
  </fieldset>
</div>
<div class="row">
  <fieldset>
    <legend>My Units</legend>
    <%= render 'shared/units' %>
  </fieldset>
</div>
