<div class="row">
  <aside class="span4">
    <section>
      <legend><%= @user.name %></legend>
      <strong>School:</strong> <%= @user.school %><br />
      <strong>Location:</strong> <%= @user.location %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <section>
      <%= render 'follow_form' if signed_in? %>
      <legend>About Me</legend>
      <%= @user.description %>
    </section>
    <section>
      <legend>Comments</legend>
      <%= render "comments/comments" %>
      <%= render "comments/form" %>
    </section>
    <% if @units.any? %>
      <section>
        <legend>My Units</legend>
        <%= render 'shared/units' %>
      </section>
    <% end %>
  </div>
</div>
