<div class="row">
  <div class="span6 offset2">
    <div class="boxes">
      <%= form_for resource, :as => resource_name,
                             :url => password_path(resource_name),
                             :html => {:method => :put, :class => "form-horizontal"} do |f| %>
        <fieldset>
          <%= f.hidden_field :reset_password_token %>
          <legend>Change Your Password</legend>
          <div class="control-group">
            <%= f.label "New password", :class => "control-label" %>
            <div class="controls"><%= f.password_field :password %></div>
          </div>
          <div class="control-group">
            <%= f.label "Confirm new password", :class => "control-label" %>
            <div class="controls"><%= f.password_field :password_confirmation %></div>
          </div>
          <%= render :partial => "devise/shared/links" %>
          <div class="form-actions">
            <%= f.submit "Change my password", :class => "btn-success" %>
          </div>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>
