<%= nested_form_for [@user, @unit, @vocabulary_list], :html => {:multipart => true, :class => "form-horizontal"} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :name %><br />
  <%= f.text_field :name %>

  <%= f.label :description %><br />
  <%= f.text_area :description %>

  <label>Vocabulary Words</label>
  <%= f.fields_for :vocabularies %>
  <%= f.link_to_add "Add Word", :vocabularies, :class => "btn btn-primary", :style => "float:right;" %>

  <%= f.submit "Save", :class => "btn btn-large btn-primary" %>
<% end %>
