<div class="row">
  <div class="span6 offset2">
    <legend><%= @vocabulary_list.name %></legend>
    <%= @vocabulary_list.description %>
    <%= link_to "Edit", edit_user_vocabulary_list_path(@user, @vocabulary_list) %>
  
    <legend>Vocabulary Words: </legend>    
    <% @vocabulary_list.vocabularies.each do |vocabulary| %>
      <strong><%= vocabulary.word %></strong> - <%= vocabulary.definition %> </p>
      <%= vocabulary.location %></p>
    <% end %>

  </div>
  <div class="span4 offset2">
    <legend>Comments</legend>
    <%= render "comments/comments" %>
    <%= render "comments/form" %>
  </div>
</div>