<div class="row">
  <div class="span8">
    <legend><%= @vocabulary_list.name %></legend>
    <%= @vocabulary_list.description %>
    <%= link_to "Edit", edit_user_vocabulary_list_path(@user, @vocabulary_list) %>
  
    <legend>Vocabulary Words: </legend>
    <% @vocabulary_list.vocabularies.each do |vocabulary| %>
      <strong><%= vocabulary.word %></strong> - <%= vocabulary.definition %> </p>
      <%= vocabulary.location %></p>
    <% end %>
  </div>
  <%= render 'shared/side_show' %>
