<div class="row">
  <div class="span6 offset2">
    <div class="boxes">
      <legend><%= @lesson.name %></legend>
      <p><%= @lesson.description %></p>
      <p><%= link_to "Edit", edit_lesson_path(@lesson) %></p>
    </div>
  </div>
  <div class="span6 offset2">
      <legend>Comments</legend>
        <fieldset>
          <%= render "comments/comments" %>
          <%= render "comments/form" %>
        </fieldset>

  </div>
</div>