<div class="row">
  <div class="span8 offset2">
    <legend><%= @lesson.name %></legend>
    <%= @lesson.description %>
    <%= link_to "Edit", edit_user_lesson_path(@user, @lesson) %>
  </div>
  <div class="span4 offset2">
    <legend>Comments</legend>
    <%= render "comments/comments" %>
    <%= render "comments/form" %>
  </div>
</div>