<div class="row">
  <div class="span8">
    <legend><%= @lesson.name %></legend>
    <%= @lesson.description %>
    <% if current_user == @user %>
      <%= link_to "Edit", edit_user_lesson_path(@user, @lesson) %>
    <% end %>
    <hr />
    <section>
      <%= @lesson.body %>
    </section>
  </div>
  <%= render 'shared/side_bar' %>