<h1><%= @title %></h1>

<%= will_paginate @courses %>

<%= render 'shared/courses' %>

<%= will_paginate @courses %>

<% if current_user == @user %>
  <%= link_to "New Course", new_user_course_path(@user) %>
<% end %>