<div class="row">
  <div class="span8">
    <legend><%= @course.name %></legend>
    <%= @course.description %>
    <% if current_user == @user %>
      <%= link_to "Edit", edit_user_course_path(@user, @course) %>
    <% end %>
    <hr />
    <% if @course.units.empty? %>
      <p>There do not appear to be any <%= link_to "Units", user_unit_path(@user) %> attached to this course. Tell the user to make some!</p>
    <% else %>
      <% @course.units.each do |unit| %>
        <ul>
          <b><%= unit.name %></b>
          <%= unit.description %>
        </ul>
      <% end %>
    <% end %>
  </div>
  <%= render 'shared/side_bar' %>