<div class="row">
  <div class="span8 offset2">
    <legend><%= @course.name %></legend>
    <%= @course.description %>
    <%= link_to "Edit", edit_user_course_path(@user, @course) %>
  </div>
  <div class="span4 offset2">
    <legend>Comments</legend>
    <%= render "comments/comments" %>
    <%= render "comments/form" %>
  </div>
  <div class="span4">
    <% unless @course.units.blank? %>
      <% @course.units.each do |unit| %>
        <ul>
          <b><%= unit.name %></b>
          <%= unit.description %>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>