<div class="row">
  <div class="span6 offset2">
    <div class="boxes">
      <legend><%= @vocab_list.name %></legend>
      <p><%= @vocab_list.description %></p>
      <p><%= link_to "Edit", edit_user_vocab_list_path(@user, @vocab_list) %></p>
    </div>
    <div class="boxes">
      <legend>Vocabulary Words: </legend>
      <% @vocab_list.vocabs.each do |vocab| %>
        <p><strong><%= vocab.word %></strong> - <%= vocab.definition %> </p>
        <p><%= vocab.location %></p>
      <% end %>
    </div>
  </div>
  <div class="span6 offset2">
      <legend>Comments</legend>
        <fieldset>
          <%= render "comments/comments" %>
          <%= render "comments/form" %>
        </fieldset>

  </div>
</div>