<div class="row">
  <div class="span6">
      <legend><%= @unit.name %></legend>
      <p><%= @unit.description %></p>
      <p><%= link_to "Edit", edit_unit_path(@unit) %></p>
  </div>
  <div class="span6">
    <legend>Content</legend>
      <fieldset>
        <h4>Lessons</h4>
        <%= render "lessons/lessons" %>
        <%# render "lessons/form" %>
        <%= link_to "Add a Lesson", new_unit_lesson_path(@unit) %>
      </fieldset>
  </div>
  <div class="span6">
    <legend>Comments</legend>
      <fieldset>
        <%= render "comments/comments" %>
        <%= render "comments/form" %>
      </fieldset>
  </div>
</div>