<div class="row">
  <div class="span6">
      <legend><%= @unit.name %></legend>
      <p><%= @unit.description %></p>
      <p><%= link_to "Edit", edit_user_unit_path(@user, @unit) %></p>
  </div>
  <div class="span6">
    <legend>Content</legend>
      <fieldset>
        <h4>Lessons</h4>
        <%= render "lessons/lessons" %>
        <%# render "lessons/form" %>
        <%= link_to "Add a Lesson", new_user_unit_lesson_path(@user, @unit) %>
      </fieldset>
      <fieldset>
        <h4>Assessments</h4>
        <%= render "assessments/assessments" %>
        <%# render "assessments/form" %>
        <%= link_to "Add an Assesment", new_user_unit_assessment_path(@user, @unit) %>
      </fieldset>
  </div>
  <div class="span6">
    <legend>Comments</legend>
      <fieldset>
        <%= render "comments/comments" %>
        <%= render "comments/form" %>
      </fieldset>
  </div>
</div>