<div class="row">
  <div class="span8 offset2">
      <legend><%= @unit.name %></legend>
      <%= @unit.description %>
      <%= link_to "Edit", edit_user_unit_path(@user, @unit) %>
  </div>
  <div class="span8 offset2">
    <legend>Content</legend>
    <h3>Lessons</h3>
    <%= render "shared/lessons" %>
    <%= will_paginate @lessons %>
    <%= link_to "Add a Lesson", new_user_unit_lesson_path(@user, @unit) %>

    <h3>Assessments</h3>
    <%= render "shared/assessments" %>
    <%= will_paginate @assessments %>
    <%= link_to "Add an Assessment", new_user_unit_assessment_path(@user, @unit) %>

    <h3>Vocabulary Lists</h3>
    <%= render "shared/vocabulary_lists" %>
    <%= will_paginate @vocabulary_lists %>
    <%= link_to "Add a Vocabulary List", new_user_unit_vocabulary_list_path(@user, @unit) %>
  </div>

  <div class="span4 offset2">
    <legend>Comments</legend>
    <%= render "comments/comments" %>
    <%= render "comments/form" %>
  </div>
</div>