<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">GoodTeacher</a>
      <%= link_to "Explore", users_path, :class => "brand" %>
      <nav>
        <ul class="nav pull-right" id="menu">
          <% if user_signed_in?  %>
            <div class="dropdown">
              Signed in as
              <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                <%= current_user.email %><b class="caret"></b>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledyby="dLabel">
                <li><%= link_to "View Profile", user_path(current_user) %></li>
                <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
                <li><%= link_to "Sign out", logout_path %></li>
              </ul>
          <% else %>
            <p class="navbar-text"> Teacher
              <%= link_to "Sign up", new_user_registration_path %> or 
              <%= link_to "Sign in", new_user_session_path %>
            </p>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
